*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    border: 1px solid red;
   
}
img{
    height:30rem;
}
button{
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem red;
    background-color: #6bf36b;
}

/* responsiveness */
@media screen and (max-width:480px){

}